<% content_for :css do %>
    <%= stylesheet_link_tag 'static_pages/home' %>
<% end %>

<% provide(:title) %>
<% if logged_in? %>
	<%# ログイン時 %>
	<div class="home_user_details_wrapper"><%= render 'users/user_details' %></div>
	<div class="games_container">
		<% if @favorite_list.present? %>
			<%# お気に入りのGameを表示 %>
			<% @favorite_list.each do |game| %>
				<%= render 'shared/game_card', game: game %>
			<% end %>
		<% else %>
			<%# お気に入りのGameが一件も無い場合の表示 %>

		<% end %>
	</div>

<% else %>
	<%# 未ログイン時 %>
	<div class="home-container">
		<div class="bg-container">
			<div class="home_text_container">
				<h1 class="home_text">Gamers Plays</h1>
				<%= link_to "Sign up now!", signup_path, class: "btn-signup" %>
				<div class="home_message_container">
					<p>あなたのお気に入りのゲームを共有して</p>
					<p>新たな仲間を見つけてみませんか？</p>
				</div>
			</div>
		</div>
	</div>
<% end %>

