<% content_for :css do %>
    <%= stylesheet_link_tag 'static_pages/home' %>
<% end %>

<% provide(:title) %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% else %>
	<div class="home-container">
		<div class="home-text-container">
			<h1>Welcome to the Gamers Place App</h1>
			<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
		</div>
	</div>
<% end %>
