$cBlack:#485460;

img {
  max-width: 100%;
  vertical-align: bottom;
}

.games_container {
	width: 80%;
	margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  color: $cBlack;
}

.game_content	{
	text-decoration: none;

	&:hover {
		opacity: 0.5;
	}
}

.item_wrapper {
  width: 30%;
  margin-top: 50px;
  margin-right: 5%;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.card {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .16);
  color: $cBlack;
}

.card_header {
  display: flex;
  flex-wrap: wrap;
}

.card__title {
  padding: 1rem 1rem 0;
  font-size: 1.25rem;
  order: 1;
  color: $cBlack;
  margin: 10px;
}

.card__thumbnail {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #dcdde1;

  .card__img {
    width: 100%;
    object-fit: cover;
  }
}

.card__body {
  padding: 1rem;
}

.card__text {
  font-size: 18px;
  color: $cBlack;
}

.card__footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
}
