<% content_for :css do %>
    <%= stylesheet_link_tag 'users/index' %>
<% end %>

<% provide(:title, 'All users') %>
<h1 class="users_index_title">All users</h1>

<div class="users_container">
	<%= paginate @users %>
	<ul class="users_list">
		<%= render @users %>
	</ul>
	<%= paginate @users %>
</div>
