<% if @user.errors.any? %>
  <div class="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <div class="ul-align-center">
      <ul class="error_contents">
        <% @user.errors.full_messages.each do |msg| %>
          <li class="errors_text"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
