<div class="post_form_container">
  <%= form_for(@post) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="post_content_field">
      <%= f.text_area :content, placeholder: "new post!!" %>
    </div>
    <div class="post_btn_wrapper">
      <%= f.submit "Post", class: "post_btn" %>
    </div>
  <% end %>
</div>
