<% provide(:title, 'All Games') %>
<h1 class="games_index_title">All games</h1>

<div class="games_container">
	<ul class="games_list">
		<% @games.each do |game| %>
			<li class="game_contents">
				<%= link_to game.title, game %>
			</li>
		<% end %>
	</ul>
</div>
