img {
  max-width: 100%;
  vertical-align: bottom;
}

.games_index_title {
	text-align:center;
}
.games_container {
	width: 80%;
	margin: 0 auto;
}

.game_content	{
	text-decoration: none;

	&:hover {
		opacity: 0.5;
	}
}

.item_wrapper {
	margin: 3rem auto;
  width: 320px;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .16);
  color: #212121;
}

.card_header {
  display: flex;
  flex-wrap: wrap;
}

.card__title {
  padding: 1rem 1rem 0;
  font-size: 1.25rem;
  order: 1;
}

.card__thumbnail {
  margin: 0;
  order: 0;
}

.card__image {
  width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__body {
  padding: 1rem;
}

.card__text {
  font-size: .75rem;
}

.card__footer {
  padding: 1rem;
  border-top: 1px solid #ddd;
}
