@import "shared/game_card.scss";
$cBlack:#485460;

.games_index_title {
	text-align:center;
	margin-top: 60px;
	letter-spacing: 10px;
	color: $cBlack;
}

.search_field {
	display: flex;
	justify-content: center;
}

.search_title {
	font-size: 18px;
	padding: 4px 0;
}

.search_field_type {
	border: solid 1px $cBlack;
	padding: 4px 10px;
}

.search_field_btn {
	border: solid 1px $cBlack;
	padding: 4px 10px;
}

.games_container {
	margin-bottom: 100px;
}
