@import "posts/post.scss";
@import "posts/post_form.scss";

.game_title {
	text-align: left;
	margin: 10px 40px;
	opacity: 0.5;
	font-size: 20px;
}

.game_show_container {
	width: 100%;
}

.game_show_content_wrapper {
	text-align: center;
}

.game_show_text {
	font-size: 30px;
	margin-top: 30px;
}

.game_edit_container {
	text-align: center;
}

.post_container {
	width: 50%;
	margin: 0 auto;
}

.posts_list {
	text-decoration: none;
}
