@import "modules/variables";

// 共通部分(スマホ基準)
.game_show_container {
	margin: 50px;
	text-align: center;
}

.game_image_wrapper {
	.game_show_img {
		width: 70%;
		object-fit: contain;
	}
}

.fav-icon {
	text-decoration: none;
	color: #ff7979;
	font-size: 1.5rem;
}

.game_text_wrapper {
	font-size: 30px;
}

.post_container {
	margin: 0 auto;
}

.posts_list {
	text-decoration: none;
}

// PC表示時
@media (min-width: 1080px) {
	.game_show_container {
		display: flex;
		// height: 100%;
		margin: 50px;
	}

	.game_show_content_wrapper {
		text-align: left;
		width: 30%;
		margin-left: 30px;
	}

	.game_image_wrapper {
		margin: 50px auto 0;
	}

	.game_post_global_container {
		margin-top: 10px;
		width: 70%;
	}

}

// タブレット表示時
@media (min-width: 780px) {
	.game_post_global_container {
		margin-top: 60px;
	}
}
