@import "shared/game_card.scss";
@import "modules/variables";
@import "modules/button";

.home_user_details_wrapper{
	width: 380px;
	margin: 0 auto;
}

.home-container {
	width: auto;
	height: 800px;
	text-align: center;
	color: white;
}

.home_nfavorite_container {
	margin: 0 auto;
}

.home_nfavorite_text {
	text-align: left;
	font-size: 1.4rem;
	font-weight: bold;
}

.bg-container {
	width: auto;
	height: 100%;
	background-image: image-url('Gamersplace_home_img.jpg');
	background-size:  cover;
}

.home_text_container {
	position: absolute;
	top: 300px;
	left: 60%;
}

.home_text {
	font-size: 50px;
	text-align: left;
}

.btn {
	padding: 10px 40px;
}

.home-container h1 {
	margin-bottom: 10px;
}

.home_message_container {
	margin-top: 50px;
	font-size: 1.2rem;
	text-align: left;
}

.user__container {
	margin: 50px 20px;
}
