@import "shared/game_card.scss";

.home-container {
	width: auto;
	height: 400px;
	margin: 20px 100px;
	text-align: center;
	background-color: #dcdcdc;
	border-radius: 10px;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.home-container h1 {
	margin-bottom: 10px;
}

.user__container {
	margin: 50px 20px;
}
