@import "shared/game_card.scss";
$cBlack:#485460;

.home_user_details_wrapper{
	width: 380px;
	margin: 0 auto;
}

.home-container {
	width: auto;
	height: 750px;
	margin-top: 20px;
	text-align: center;
	color: white;
	// background-color: #dcdcdc;
	// border-radius: 10px;
	// display: -webkit-flex;
	// display: flex;
	// -webkit-align-items: center;
	// align-items: center;
	// -webkit-justify-content: center;
	// justify-content: center;
}
.bg-container {
	width: auto;
	height: 750px;
	background-image: image-url('Gamersplace_home_img.jpg');
	background-size:  cover;
}

.home-container h1 {
	margin-bottom: 10px;
}

.user__container {
	margin: 50px 20px;
}
