@import "modules/variables";
@import "modules/button";

.review_container {
	width: 70%;
	text-align: left;
}

.main-rating {
	display: flex;
	margin-top: 10px;
	font-size: 20px;

	.ratings {
		color: #ffcc00;
	}

	.rating-value-display {
		margin-left: 10px;
	}
}

.review_textarea {
	border: 1px solid black;
	resize: none;
  width: 100%;
  height: 100px;
	padding: 10px;
}

.review_button {
	margin-top: 10px;
	padding: 5px 60px;
	border: 1px solid black;
}

.other_review_link {
	text-decoration: none;
	text-align: right;
}

.btn-save-review {
	// width: 30%;
}

.btn-all-review {
	// width: 50%;
}
