@import "modules/variables";
@import "modules/button";

// 共通部分（スマホ基準）
.main-rating {
	display: flex;
	margin-top: 10px;

	.ratings {
		color: #ffcc00;
	}

	.rating-value-display {
		margin-left: 10px;
	}
}

.review_textarea {
	border: 1px solid black;
	resize: none;
	width: 100%;
	height: 100px;
	padding: 10px;
}

.btn-save-review {
	text-align: center;
	margin: 10px;
	padding: 5px 30px;
}

.btn-all-review {
	margin-top: 10px;
	margin: 10px;
	padding: 5px 30px;
}

// PC表示時
@media (min-width: 1080px) {
	.review_container {
		width: 70%;
		text-align: left;
	}

	.btn-save-review {
		width: 100%;
		text-align: center;
		padding: 5px;
	}

	.btn-all-review {
		margin-top: 10px;
		width: 100%;
		padding: 5px;
	}
}

// タブレット表示時
@media (min-width: 780px) {

}

