@import "modules/variables";
@import "modules/button";

.section {
	min-height: 100vh;
	max-height: 100%;
}

.reviews_container {
	width: 50%;
	margin: 50px auto;
}

.reviews_card {
	border: 1px solid black;
}

.reviews_card_header {
	border-bottom: 1px solid black;
	padding: 10px;
}

.reviews_card_content {
	padding: 20px;
}

.average-score {
	display: flex;
}

.star-rating {
	position: relative;
	width: 5em;
	height: 1em;
	font-size: 18px;
}

.star-rating-front {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #fc3;
}

.star-rating-back {
	color: #ccc;
}

.average-score-display {
	font-size: 16px;
	padding: 10px;
	opacity: 0.6;
}

// btn
.review_btn_wrapper {
	text-align: center;
}

.review_btn {
	margin: 30px 0;
	padding: 10px 20px;
}

// レビューユーザー一覧
.reviews_user_info {
	margin-top: 30px;
}

.reviews_user_img {
	display: inline-block;

	.gravatar {
		border-radius: 100%;
	}
}

.reviews_user_text {
	display: inline-block;
	vertical-align: top;
}

.reviews_create_time_text {
	display: inline-block;
	font-size: 0.9rem;
	margin-left: 20px;
	vertical-align: top;
}

.reviews_score_text {
	margin: 5px;
}

.reviews_content_text {
	margin-top: 30px;
	padding-bottom: 20px;
	width: 100%;
	height: auto;
	border-bottom: 1px $cBlack solid;
	word-break : break-all;
}

