@import "modules/variables";
@import "modules/button";

.users_edit_title {
	margin-top: 60px;
	text-align:center;
	letter-spacing: 2px;
	color: $cBlack;
}

.users_edit_container {
	width: 40%;
	margin: 10px auto;
}

.users_edit_form_container {
	text-align:center;
	margin-bottom: 60px;
}

.edit_form_common_wrapper {
	margin: 30px auto;
}

.label_common {
	display: block;
	margin-bottom: 10px;
	text-align: left;
}

.input_common {
	border: 1px solid black;
	width: 100%;
	padding: 10px;
}

.users_img {
	text-align: left;
}

.gear {
	font-size: 1.5rem;
	color: $cBlack;

	&:hover {
		opacity: 0.5;
	}
}

.btn {
	padding: 10px 40px;
}
