$gray-lighter: #ecf0f1;

.users_index_title {
	text-align:center;
}

.users_container {
	width: 40%;
	margin: 10px auto;
}

.users_list {
  list-style: none;
  margin: 0;
  .user_contents {
		overflow: auto;
		margin-top: 30px;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
