@import "users/user.scss";

.users_index_title {
	text-align:center;
}

.users_container {
	width: 40%;
	margin: 10px auto;
}

// ページネーション
.pagination {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	span {
		padding: 0 5px;
	}
	a {
		text-decoration: none;
	}
}
