.signup_title {
	text-align:center;
	margin-top: 30px;
}

.signup_container {
	width: 40%;
	height: 550px;
	margin: 10px auto;
}

.signup_form_container {
	text-align:center;
}

.form_common_wrapper {
	margin: 10px auto;
}

.label_common {
	display: block;
	margin-bottom: 10px;
	text-align: left;
}

.input_common {
	border: 1px solid black;
	width: 100%;
}

.btn {
	margin-top: 20px;
	padding: 10px;
	border: 1px solid black;
}
