@import "users/user_details.scss";
@import "users/user.scss";

.show_follow_container {
	display: flex;
	align-items:stretch;
}

.user_detail_wrapper {
	padding-left: 20px;
}

.users_container {
	width: 40%;
	margin: 10px auto;

	a {
		text-decoration: none;
		color: black;
	}
}


.user_follow_title {
	font-size: 30px;
	margin-bottom: 20px;
	text-align: left;
}

.users_list {
	list-style: none;
	margin-bottom: 20px;
}
