$gray-lighter: #ecf0f1;

.users_list {
  list-style: none;
  margin: 0;
  .user_contents {
		overflow: auto;
		margin-top: 30px;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

// ページネーション
.pagination {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	span {
		padding: 0 5px;
	}
	a {
		text-decoration: none;
	}
}
