<footer class="footer">
  <nav class="footer-nav">
    <ul class="footer-list">
      <li class="footer-text"><%= link_to "About",   '#' %></li>
      <li class="footer-text"><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>
