<header>
	<div class="header-container">
		<div class="text-title">
			<%= link_to "Gamers Place", root_path, id: "logo" %>
		</div>
		<nav>
			<ul class="navbar-right">
				<li class="nav-text"><%= link_to "Home", root_path %></li>
				<li class="nav-text"><%= link_to "Help", help_path %></li>
				<li class="nav-text"><%= link_to "Log in", '#' %></li>
			</ul>
		</nav>
	</div>
</header>
