<header class="header">
	<div class="text-title">
		<%= link_to "Gamers Plays", root_path, class: "logo_text", id: "logo" %>
	</div>
		<button class="mobile-menu__btn">
			<span></span>
			<span></span>
			<span></span>
		</button>
</header>

<%= javascript_include_tag "header.js" %>
